{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cookie&display=swap" rel="stylesheet">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-image:linear-gradient(#3BA5BF,#3EA286,#0386A4); color: #f5f5f5; padding: 100px 25px;">
    <h1 style="font-family: 'Cookie', cursive;">GrOti Blog</h1>
</div>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_blog')}}" class="btn btn-success">Post blog</a>
</div>

<div class="container-fluid">
    <section class="homepage">
        <div class="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <div class="homepage-content">
                            <h4>
                                <q>
                                    {{ quote.quote }}
                                </q>
                            </h4>
                            <p class="author mt-2">
                                -{{ quote.author }}
                            </p>
                            <a href="#posts" class="btn mt-5 b-r">
                                view recents posts
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">E-Commerce</h3>
                    <p class="parag">Technology drives data, data catalyzes knowledge, and knowledge enables empowerment. In tomorrow’s world,.</p>
                    <a href="{{url_for('main.ecom_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">Business</h3>
                    <p class="parag">The roll-out of 5G creates markets that we only imagine - like self-driving bots, along with a mobility-as-a-service economy - and others we can’t imagine</p>
                    <a href="{{url_for('main.ftech_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">Future Technologies</h3>
                    <p class="parag">Entertain yourself with your followers and get entertained too..</p>
                    <a href="{{url_for('main.webdev_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <h4>
                    {{ quote.quote }}
                </h4>
                <p class="author mt-2">
                    -{{ quote.author }}
                </p>
                <a href="#posts" class="btn mt-5 b-r">
                    view recents posts
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">E-Commerce</h3>
                    <p class="parag">Overnight, we’ve experienced a sharp increase in delivery services with a need for “day-of” goods from providers like Amazon and Instacart - but it has been limited. .</p>
                    <a href="{{url_for('main.ecom_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">Business</h3>
                    <p class="parag">Paper and pencil tracking, luck, significant global travel and opaque supply chains are part of today’s status quo, resulting in large amounts of wasted energy, materials and time. Accelerated in part by the long-term shutdown of international and regional travel by COVID-19, companies that design and build products</p>
                    <a href="{{url_for('main.ftech_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">Future Technologies</h3>
                    <p class="parag">In 2025, carbon footprints will be viewed as socially unacceptable, much like drink driving is today. The COVID-19 pandemic will have focused the public’s attention .</p>
                    <a href="{{url_for('main.webdev_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">E-Commerce</h3>
                    <p class="parag">One major application of this new kind of computer will be the simulation of complex chemical reactions, a powerful tool that opens up new avenues in drug development..</p>
                    <a href="{{url_for('main.ecom_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">Business</h3>
                    <p class="parag">Get your financial tips and keys to grow your business or to increase your financial status and grow your money</p>
                    <a href="{{url_for('main.ftech_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h3 style="font-family: 'Cookie', cursive;">Future Technologies</h3>
                    <p class="parag">This trend will be enabled by AI-powered and systems biology-based technology that exponentially grows our knowledge of the role of specific dietary phytonutrients in specific human health and functional outcomes.</p>
                    <a href="{{url_for('main.webdev_blog')}}" class="btn btn-primary -center">Read</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
